body {
  font-family: 'Roboto Condensed', sans-serif;
  opacity: .85;
  background: none;
}

html {
  /* The image used */
  background: url("../res/dreams.png") no-repeat;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  position: static;
  background-size: cover;
  background-attachment: fixed;
}