body {
  font-family: 'Roboto Condensed', sans-serif;
  opacity: 0.7;
}

html {
  background-color: #f9f9f9;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../res/dreams.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  position: static;
  background-size: cover;
}